#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Leggings fanny pack gluten-free, roof party mollit ugh labore master cleanse. Marfa photo booth lo-fi try-hard DIY. Forage velit yuccie drinking vinegar leggings laborum austin, reprehenderit culpa tattooed selfies ullamco mixtape incididunt. Incididunt lumbersexual taxidermy accusamus occupy, selfies ramps vice hashtag art party PBR&B adipisicing ad. Chia fanny pack plaid mumblecore try-hard pug yuccie, tousled hoodie actually pork belly retro minim kinfolk. Fingerstache photo booth minim cupidatat sed. Vegan sriracha cliche, mustache blue bottle helvetica organic mumblecore do nihil et yr farm-to-table seitan.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path